<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Reader</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{ range . }}
        <h1>{{ .Title }}</h1>

        {{ if .Error }}
            <div>{{ .Error }}</div>
        {{ else  }}
            {{ range .Items }}
            <div>
                <h2><a href="{{ .Link }}">{{ .Title }}</a></h2>
                {{ if .Description }}
                    {{ .Description }}
                {{ else }}
                    {{ .Content }}
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
    {{ end }}
</body>

</html>
