<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Evil feed reader</title>
    <style>
    {{ .CSS }}
    </style>
</head>

<body>
    <header>
        <h1><a class="novisited" href="/">Evil feed reader</a></h1>
    </header>

    <nav>
        <ul>
        {{ range .Sidebar }}
            {{ if .HasRecentItems }}
                <li><a class="recent-items" href="{{ .Resource }}">{{ .Title }}</a></li>
            {{ else }}
                <li><a href="{{ .Resource }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
        </ul>
    </nav>

    {{ if .Feed }}
    <main class="background-main">
        <h2><a href="{{ .Feed.Url }}">{{ .Feed.Title }}</a></h2>
        {{ if .Feed.Error }}
            <div>{{ .Feed.Error }}</div>
        {{ end  }}
        {{ range .Feed.Entries }}
        <div class="post">
            <h3><a href="{{ .Url }}">{{ .Title }}</a></h3>
            {{ if .Content }}
                {{ .Content }}
            {{ end }}
        </div>
        {{ end }}
    </main>

    <footer>
        <a href="https://github.com/gunnihinn/evil-feed-reader">Get evil</a>
    </footer>
    {{ else }}
        <main></main>
    {{ end }}

</body>

</html>
