html {
    color: #444;
}

body {
    padding-left: 10%;
    padding-right: 15%;

    width: 70%;
}

nav {
    float: left;
    width: 200px;

    font-family: "Arial", sans-serif;
    line-height: 1.2;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

nav > ul > li a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

main {
    padding-left: 5%;
    padding-bottom: 20px;
    margin-left: 200px;

    font-family: "Georgia", serif;
    font-size: 12pt;
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: #404040;
}

main a {
    color: blue;
}
