<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Reader</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <ul>
        {{ range .Sidebar }}
            <li><a href="{{ .Resource }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
    </nav>

    <main>
    {{ if .Feed }}
        {{ if .Feed.Error }}
            <div>{{ .Feed.Error }}</div>
        {{ end  }}
        {{ range .Feed.Entries }}
        <div>
            <h2><a href="{{ .Url }}">{{ .Title }}</a></h2>
            {{ if .Content }}
                {{ .Content }}
            {{ end }}
        </div>
        {{ end }}
    {{ end }}
    </main>

</body>

</html>
