<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <link href="static/style.css" rel="stylesheet">

    <title>Evil feed reader</title>
</head>

<body>

    <main>
        <h1>Evil feed reader</h1>

        {{ range .Days }}
        <h2>{{ .Date.Year }}&ndash;{{ .Date.Format "01"}}&ndash;{{ .Date.Format "02" }}</h2>
            {{ range .Entries }}
                <h3>{{ .Feed }}</a></h3>
                <p><a href="{{ .Link }}">{{ .Title }}</a></p>
            {{ end  }}
        {{ end  }}
    </main>

</body>

</html>
