<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <link href="static/style.css" rel="stylesheet">

    <title>Evil feed reader</title>
</head>

<body>
    <nav>
        <h1>Evil feed reader</h1>
    </nav>

    <main>
        <ul class="list-days">
        {{ range .Days }}
        <li class="item-days">
            <h2>{{ .Date.Day }}&nbsp;{{ .Date.Month }}&nbsp;{{ .Date.Year }}</h2>
        </li>
        <ul class="list-entries">
            {{ range .Entries }}
            <li class="item-entries">
                <p>
                <span class="feed-title">{{ .Feed }}</span>:&ensp;
                <span class="item-title">
                    <a href="{{ .Link }}">{{ .Title }}</a>
                </span>
                </p>
            </li>
            {{ end  }}
        </ul>
        {{ end  }}
        </ul>
    </main>

</body>

</html>
