html {
    background-color: #282828;
}

body {
    margin: 0 auto;
    max-width: 23cm;
    padding: 1em;
    background-color: #fdfdfd;
}

nav {
	padding-left: 3em;
}

h1 {
    font-size: 2.9em;
    font-family: Courier, monospace;
    color: #af111c;
}

h2 {
    font-size: 1.8em;
}

ul {
    list-style-type: none;
}

.item-days {
    font-family: Helvetica, sans-serif;
}

.feed-title {
    font-weight: bold;
}

.item-entries {
    font-family: Palatino, Georgia, serif;
    font-size: 18px;
    line-height: 1.5;
}

.list-entries {
	max-width: 85%;
}
